<section class="section section--narrow">
  <header class="section__header">
    <h1 class="section__title">Edit philosopher</h1>
    <p class="section__subtitle">Refresh biographical details to keep our archive accurate.</p>
  </header>

  <%= render "form" %>
</section>
